# "org" ensures this Service is used with the correct Serverless Framework Access Key.
org: msms843
# "app" enables Serverless Framework Dashboard features and sharing them with other Services.
app: app1

# "service" is the name of this project. This will also be added to your AWS resource names.
service: serverless-score-rent

provider:
  name: aws
  runtime: nodejs24.x
  region: eu-central-1
  stage: ${opt:stage, 'dev'} # Allow --stage flag
  profile: serverless-deployer
  iamRoleStatements:
    - Effect: "Allow"
      Action:
        - "ses:SendEmail"
        - "ses:SendRawEmail"
      Resource:
        - "arn:aws:ses:eu-central-1:891376994214:identity/*"

functions:
  api:
    handler: dist/app.handler
    memorySize: 512
    environment:
      STAGE: ${self:provider.stage}
      MONGODB_URL: ${env:MONGODB_URL_${self:provider.stage}}
      SMTP_HOST: ${env:SMTP_HOST}
      SMTP_USER: ${env:SMTP_USER}
      SMTP_PASS: ${env:SMTP_PASS}
      SMTP_FROM: ${env:SMTP_FROM}
      SMTP_DEBUG: ${env:SMTP_DEBUG}
      JWT_SECRET: ${env:JWT_SECRET}
      EMAIL_JWT_EXPIRY: ${env:EMAIL_JWT_EXPIRY_${self:provider.stage}}
      EMAIL_VERIFICATION_SECRET: ${env:EMAIL_VERIFICATION_SECRET}
      EMAIL_LIMIT_HOUR: ${env:EMAIL_LIMIT_HOUR_${self:provider.stage}}
      EMAIL_LIMIT_DAY: ${env:EMAIL_LIMIT_DAY_${self:provider.stage}}
      CYCLIC_URL: ${env:CYCLIC_URL_${self:provider.stage}}
      MANUAL_REGISTRATION_SECRET: ${env:MANUAL_REGISTRATION_SECRET}

    events:
      - httpApi: "*"

package:
  exclude:
    - "**"
  include:
    - dist/**
    - views/**
    - package.json
    - node_modules/**
