<%- include('partials/header'); -%>

<h1>Ausleihe</h1>

<div class="w3-panel w3-green divSuccess" style="display: none">
  <p class="pSuccess">Ausleihe erfolgreich:</p>
</div>
<div class="w3-panel w3-red divError" style="display: none">
  <p class="pError">Ausleihe Fehler</p>
</div>

<form action="/checkout" id="formScan">
  <button class="w3-button w3-black btnScan">User scannen</button>
</form>


<!-- <script src="./node_modules/html5-qrcode/html5-qrcode.min.js"></script> -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/html5-qrcode/2.3.4/html5-qrcode.min.js" integrity="sha512-k/KAe4Yff9EUdYI5/IAHlwUswqeipP+Cp5qnrsUjTPCgl51La2/JhyyjNciztD7mWNKLSXci48m7cctATKfLlQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<style>
  main {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #reader {
    width: 600px;
  }

  #result {
    text-align: center;
    font-size: 1.5rem;
  }
</style>
<main id="scanMain">
  <div id="reader"></div>
  <div id="result"></div>
</main>

<div class="w3-panel w3-border divUser" style="display: none">
  <h3>Benutzer</h3>
  <label>ID</label>
  <input type="text" name="userId" value="" class="w3-input userId" readonly>
  <label>Nachname</label>
  <input type="text" name="lastName" value="" class="w3-input lastName" readonly>
  <label>Vorname</label>
  <input type="text" name="firstName" value="" class="w3-input firstName" readonly>
</div>

<div class="w3-panel w3-border divScore" style="display: none">
  <form action="/checkout" id="formCheckout">
    <h3>Noten</h3>
    <label>ID</label>
    <input type="text" name="scoreId" value="" class="w3-input scoreId" readonly>
    <label>Ext. ID</label>
    <input type="text" name="scoreExtId" value="" class="w3-input scoreExtId" readonly>
    <label>Zustand</label>
    <input type="text" name="state" value="" class="w3-input state" readonly>
    <label>Kommentar</label>
    <input type="text" name="comment" value="" class="w3-input comment">
    <p></p>
    <button class="w3-button w3-black btnCheckout">Ausleihe</button>
  </form>
</div>

<div class="divHome" style="display: none">
  <p></p>
  <a href="/" class="w3-button w3-black">Startseite</a>
</div>

<%- include('partials/footer'); -%>

<script>
  const formScan = document.querySelector('#formScan');
  const formCheckout = document.querySelector('#formCheckout');
  const btnScan = document.querySelector('.btnScan');
  const btnCheckout = document.querySelector('.btnCheckout');
  const divUser = document.querySelector('.divUser');
  const divScore = document.querySelector('.divScore');
  const divSuccess = document.querySelector('.divSuccess');
  const divError = document.querySelector('.divError');
  const divHome = document.querySelector('.divHome');

  var scanner;

  formScan.addEventListener('submit', async (e) => {
    e.preventDefault();

    scanner = new Html5QrcodeScanner('reader', {
      qrbox: {
        width: 250,
        height: 250,
      },
      fps: 20,
    });
    scanner.render(scanSuccess, scanError);
  });

  formCheckout.addEventListener('submit', async (e) => {
    e.preventDefault();

    const inputUserId = document.querySelector('.userId');
    const inputScoreId = document.querySelector('.scoreId');
    const inputComment = document.querySelector('.comment');
    await postCheckout(inputUserId.value, inputScoreId.value, inputComment.value);
  });

  async function postCheckout(userId, scoreId, comment) {
    console.log("submitScanResult: userId=" + userId + ", scoreId=" + scoreId);
    try {
      const res = await fetch('/checkout', {
        method: 'POST',
        body: JSON.stringify({
          userId,
          scoreId,
          comment
        }),
        headers: {
          'Content-Type': 'application/json'
        }
      });
      const data = await res.json();
      console.log("data=", data);
      if (data.errors) {
        divError.style = "display: block";
        const pError = document.querySelector('.pError');
        pError.textContent = data.errors;
        return false;
      }
      if (userId && data.checkoutUser) {
        // User which is about to checkout found
        const inputUserId = document.querySelector('.userId');
        const inputFirstName = document.querySelector('.firstName');
        const inputLastName = document.querySelector('.lastName');
        inputUserId.value = data.checkoutUser._id;
        inputFirstName.value = data.checkoutUser.firstName ? data.checkoutUser.firstName : "";
        inputLastName.value = data.checkoutUser.lastName;
      }

      if (data.checkoutScore) {
        if (userId && scoreId) {
          // Checkout success
          divUser.style = "display: none";
          divScore.style = "display: none";
          btnCheckout.remove();
          divSuccess.style = "display: block";
          divHome.style = "display: block";
        } else if (scoreId) {
          // score to checkout found
          const inputScoreId = document.querySelector('.scoreId');
          const inputScoreExtId = document.querySelector('.scoreExtId');
          const inputState = document.querySelector('.state');
          const inputComment = document.querySelector('.comment');

          inputScoreId.value = data.checkoutScore.id;
          inputScoreExtId.value = data.checkoutScore.extId ? data.checkoutScore.extId : "";
          inputState.value = data.checkoutScore.state ? data.checkoutScore.state : "";
        } else {
          console.log("We should not be here");
        }
      }
      return true;
    } catch (err) {
      console.log("err=", err);
      divError.style = "display: block";
      const pError = document.querySelector('.pError');
      pError.textContent = err.message;
    }
  }

  async function scanSuccess(result) {
    console.log(result);
    if (btnScan.textContent == "User scannen") {
      scanner.clear();
      //   console.log("submit user");
      await postCheckout(result, undefined);
      btnScan.textContent = "Noten scannen";
      divUser.style = "display: block";
    } else if (btnScan.textContent == "Noten scannen") {
      scanner.clear();
      if (await postCheckout(undefined, result)) {
        document.getElementById('reader').remove();
        //   btnScan.textContent = "Ausleihe durchführen";
        divScore.style = "display: block";
        btnScan.remove();
      }
    }
  }

  function scanError(err) {
    console.error(err);
  }
</script>