<%- include('partials/header'); -%>

    <script src='https://unpkg.com/vue@3.0.2'></script>

    <h1> Hello Checkouts</h1>
    
    <div id="app">
    </div>

    <script src="./checkouts.js"></script>

<%- include('partials/footer'); -%>
