<%- include('partials/header'); -%>

<script src='https://unpkg.com/vue@3.0.2'></script>

<h1>Ausleihen</h1>
  
<div id="app">
    <div v-if="hasError" class="w3-panel w3-red divError">
        <p class="pError">{{ error }}</p>
    </div>
    
    <div v-if="admin" class="w3-panel w3-border">
        <form @submit.prevent="postCheckouts">
            <h3>Filter</h3>
            <label>Noten Signatur</label>
        
            <select class="w3-select" v-model="signature">                
                <option value="">Noten ausw채hlen</option>
                <option v-for="signature in signatures" :value="signature.id">{{signature.name}}</option>
            </select>
        
            <label>Nur offene</label>
            <input type="checkbox" class="w3-check" v-model="checkedOut">
            <p></p>
            <button class="w3-button w3-black btnCheckouts" type="submit">Suchen</button>
            <p></p>
        </form>
        <p>{{ checkedOut }}</p>
    </div>

    <div v-if="checkouts">
        <div class="w3-left-align"><p>{{ statSummary }}</p></div>
        <div class="w3-responsive">
            <p></p>
            <table class="w3-table-all" id="checkoutsTable">
                <tr>
                    <th v-if="filter.signature === SIGNATURE_ALL.id">Werk</th>
                    <th>Noten Id</th>
                    <th>Noten ext. Id</th>
                    <th v-if="admin">Benutzer</th>
                    <th>Ausgeliehen am</th>
                    <th>Kommentar Ausleihe</th>
                    <th v-if="admin"></th> <!-- Schalter R체ckgabe -->
                    <th>R체ckgabe am</th>
                    <th>Kommentar R체ckgabe</th>
                  </tr>
                  <tr v-for="checkout in checkouts">
                    <td v-if="filter.signature === SIGNATURE_ALL.id">signatureMap.get(checkout.signature)</td>
                    <td>{{ checkout.scoreId }}</td>
                    <td>{{ checkout.scoreExtId }}</td>
                    <td v-if="admin">
                      <button onclick="userDetails('userName', 'userEmail')" class="w3-button w3-pale-blue">{{ checkout.user.namePlusVoice }}</button>
                    </td>
                    <td v-if="admin"><button onclick="editCheckout('checkout.scoreId','checkout._id','checkout.checkoutComment','checkout.checkinComment')" class="w3-button w3-pale-blue">{{ checkout.checkoutTimestamp }}</button></td>
                    <td v-else>{{ checkout.checkoutTimestamp }}</td>
                    <td>{{ checkout.checkoutComment }}</td>
                    <td>
                    </td>
                    <td>{{ checkout.checkinTimestamp }}</td>
                    <td>{{ checkout.checkinComment }}</td>
                  </tr>
            </table>          
        </div>    
    </div>
    
</div>

<script src="./checkouts.js"></script>


<%- include('partials/footer'); -%>
