<%- include('partials/header'); -%>

<script src='https://unpkg.com/vue@3.0.2'></script>

<h1>Ausleihen</h1>

<div id="app">
    <div v-if="admin" class="w3-panel w3-border">
        <form @submit.prevent="handleCheckoutsSubmit">
            <h3>Filter</h3>
            <label>Noten Signatur</label>
        
            <select class="w3-select" v-model="signature">                
                <option value="">Noten auswählen</option>
                <option v-for="signature in signatures" :value="signature.id">{{signature.name}}</option>
            </select>
        
            <label>Nur offene</label>
            <input type="checkbox" class="w3-check" v-model="checkedOut">
            <p></p>
            <button class="w3-button w3-black btnCheckouts" type="submit">Suchen</button>
            <p></p>
        </form>
    </div>
</div>

<script src="./checkouts.js"></script>

<%- include('partials/footer'); -%>
