<%- include('partials/header'); -%>

<h1>Ausleihe</h1>

<form action="/checkout">
  <button class="w3-button w3-black btnScan">User scannen</button>
</form>


<!-- <script src="./node_modules/html5-qrcode/html5-qrcode.min.js"></script> -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/html5-qrcode/2.3.4/html5-qrcode.min.js" integrity="sha512-k/KAe4Yff9EUdYI5/IAHlwUswqeipP+Cp5qnrsUjTPCgl51La2/JhyyjNciztD7mWNKLSXci48m7cctATKfLlQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<style>
  main {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #reader {
    width: 600px;
  }

  #result {
    text-align: center;
    font-size: 1.5rem;
  }
</style>
<main>
  <div id="reader"></div>
  <div id="result"></div>
</main>

<div class="w3-panel w3-border divUser" style="display: none">
  <h3>Benutzer</h3>
  <label>ID</label>
  <input type="text" name="userId" value="" class="w3-input userId" readonly>
  <label>Nachname</label>
  <input type="text" name="lastName" value="" class="w3-input lastName" readonly>
  <label>Vorname</label>
  <input type="text" name="firstName" value="" class="w3-input firstName" readonly>
</div>

<div class="w3-panel w3-border divScore" style="display: none">
  <h3>Noten</h3>
  <label>ID</label>
  <input type="text" name="scoreId" value="" class="w3-input scoreId" readonly>
  <label>Ext. ID</label>
  <input type="text" name="scoreExtId" value="" class="w3-input scoreExtId" readonly>
  <label>Zustand</label>
  <input type="text" name="state" value="" class="w3-input state" readonly>
  <label>Kommentar</label>
  <input type="text" name="firstName" value="" class="w3-input comment">
</div>

<%- include('partials/footer'); -%>

<script>
  const form = document.querySelector('form');
  const btnScan = document.querySelector('.btnScan');
  const divUser = document.querySelector('.divUser');
  const divScore = document.querySelector('.divScore');

  var scanner;

  form.addEventListener('submit', async (e) => {
    e.preventDefault();

    scanner = new Html5QrcodeScanner('reader', {
      qrbox: {
        width: 250,
        height: 250,
      },
      fps: 20,
    });
    scanner.render(success, error);

  });

  async function submitScanResult(userId, scoreId) {
    console.log("submitScanResult: userId=" + userId + ", scoreId=" + scoreId);
    try {
      const res = await fetch('/checkout', {
        method: 'POST',
        body: JSON.stringify({
          userId,
          scoreId
        }),
        headers: {
          'Content-Type': 'application/json'
        }
      });
      const data = await res.json();
      console.log(data);
      if (data.errors) {
        //   emailError.textContent = data.errors.email;
        //   passwordError.textContent = data.errors.password;
      }
      if (data.checkoutUser) {
        const inputUserId = document.querySelector('.userId');
        const inputFirstName = document.querySelector('.firstName');
        const inputLastName = document.querySelector('.lastName');

        inputUserId.value = data.checkoutUser._id;
        inputFirstName.value = data.checkoutUser.firstName ? data.checkoutUser.firstName : "";
        inputLastName.value = data.checkoutUser.lastName;
      }

      if (data.checkoutScore) {
        const inputScoreId = document.querySelector('.scoreId');
        const inputScoreExtId = document.querySelector('.scoreExtId');
        const inputState = document.querySelector('.state');
        const inputComment = document.querySelector('.comment');

        inputScoreId.value = data.checkoutScore.id;
        inputScoreExtId.value = data.checkoutScore.extId ? data.checkoutScore.extId : "";
        inputState.value = data.checkoutScore.state ? data.checkoutScore.state : "";
      }

    } catch (err) {
      console.log(err);
    }

  }

  async function success(result) {
    console.log(result);
    if (btnScan.textContent == "User scannen") {
      scanner.clear();
      //   console.log("submit user");
      await submitScanResult(result, undefined);
      btnScan.textContent = "Noten scannen";
      divUser.style = "display: block";
    } else if (btnScan.textContent == "Noten scannen") {
      scanner.clear();
      document.getElementById('reader').remove();
      await submitScanResult("6489edc05376f9a7898dc898", result);
      //   btnScan.textContent = "Ausleihe durchführen";
      divScore.style = "display: block";
      btnScan.remove();
    }
  }

  function error(err) {
    console.error(err);
  }
</script>