<%- include('partials/header'); -%>

<h1><%= t('login.title') %></h1>

<form action="/signup">
  <label>Email</label>
  <input type="text" name="email" value="" class="w3-input" required>
  <div class="w3-red email error"></div>
  <label>Passwort</label>
  <input type="password" name="password" value="" class="w3-input" required>
  <div class="w3-red password error"></div>
  <p>
    <button class="w3-button w3-black">Login</button>&nbsp;&nbsp;&nbsp;<a class="w3-link" href="/password-forgotten">Passwort vergessen</a>
</form>

<p class="w3">oder</p>
<p></p>
<a href="/signup" class="w3-button w3-black">Registrierung</a>

<%- include('partials/footer'); -%>

<script>
  const form = document.querySelector('form');
  const emailError = document.querySelector('.email.error');
  const passwordError = document.querySelector('.password.error');

  form.addEventListener('submit', async (e) => {
    e.preventDefault();

    // reset errors
    emailError.textContent = '';
    passwordError.textContent = '';

    // get values
    const email = form.email.value;
    const password = form.password.value;

    try {
      const res = await fetch('/login', {
        method: 'POST',
        body: JSON.stringify({
          email,
          password
        }),
        headers: {
          'Content-Type': 'application/json'
        }
      });
      const data = await res.json();
      console.log(data);
      if (data.errors) {
        emailError.textContent = data.errors.email;
        passwordError.textContent = data.errors.password;
      }
      if (data.user) {
        location.assign('/');
      }

    } catch (err) {
      console.log(err);
    }
  });
</script>