<%- include('partials/header'); -%>

<h1>Passwort vergessen</h1>

Wenn du dein Passwort vergessen hast, kannst du es hier zurücksetzen. Gib deine E-Mail Adresse an. 
Du erhältst eine E-Mail mit einem Link zum Zurücksetzen des Passwort.
<p>

<form>
  <label>Email*</label>
  <input type="text" name="email" value="" class="w3-input" required>
  <div class="w3-red email error"></div>
  <p>
    <button class="w3-button w3-black">Link senden</button>
</form>

<p class="w3">oder</p>
<p></p>
<a href="/login" class="w3-button w3-black">Login</a>
<a href="/signup" class="w3-button w3-black">Registrierung</a>

<%- include('partials/footer'); -%>

<script>
  const form = document.querySelector('form');
  const emailError = document.querySelector('.email.error');

  form.addEventListener('submit', async (e) => {
    e.preventDefault();

    // reset errors
    emailError.textContent = '';

    // get values
    const email = form.email.value;

    try {
      const res = await fetch('/password-forgotten', {
        method: 'POST',
        body: JSON.stringify({
          email,
        }),
        headers: {
          'Content-Type': 'application/json'
        }
      });
      const data = await res.json();
      console.log(data);
      if (data.errors) {
        emailError.textContent = data.errors.email;
      }
      location.assign('/password-forgotten-success');
    } catch (err) {
      console.log(err);
    }
  });
</script>