<%- include('partials/header'); -%>

<div class="w3-panel w3-green">
  <h3>Link versendet</h3>
  <p>Wenn die eingebenene E-Mail Adresse im System bekannt ist, wurde eine E-Mail mit einem Link zum Passwort Zurücksetzen an dich versandt. Bitte schaue in deinen Posteingang.</p>
</div>

<%- include('partials/footer'); -%>