<%- include('partials/header'); -%>

<div class="w3-panel w3-green">
  <h3>Passwort geändert</h3>
  <p>Das Passwort wurde erfolgreich geändert!</p>
</div>
<p></p>
<a href="/login" class="w3-button w3-black">Zum Login</a>

<%- include('partials/footer'); -%>