<%- include('partials/header'); -%>

<h1>Registrierung Noten</h1>

<% if (typeof status != 'undefined') { %>
<div class="w3-panel w3-red">
  <h3>Danger!</h3>
  <p><%= status %></p>
</div>
<%}  %>

<form>

  <label>Komponist*</label>
  <input type="text" name="composer" value="" class="w3-input" required>
  <div class="w3-red composer error"></div>
  <label>Werk*</label>
  <input type="text" name="work" value="" class="w3-input" required>
  <div class="w3-red work error"></div>
  <label>Signatur*</label>
  <input type="text" name="signature" value="" class="w3-input" required>
  <div class="w3-red signature error"></div>
  <label>Anzahl*</label>
  <input type="text" name="count" value="" class="w3-input" required>
  <p>
  <input class="w3-button w3-black" type="submit" value="Senden">

</form>

<%- include('partials/footer'); -%>

<script>
  const form = document.querySelector('form');
  const signatureError = document.querySelector('.signature.error');

  form.addEventListener('submit', async (e) => {
    e.preventDefault();

    // reset errors
    signatureError.textContent = '';

    // get values
    const composer = form.composer.value;
    const work = form.work.value;
    const signature = form.signature.value;
    const count = form.count.value;
    // console.log(composer, work);

    try {
      const res = await fetch('/score/register', {
        method: 'POST',
        body: JSON.stringify({
          composer,
          work,
          signature,
          count,
        }),
        headers: {
          'Content-Type': 'application/json'
        }
      });
      const data = await res.json();
      console.log(data);
      if (data.errors) {
        console.log("errors ejs", data.errors);
        signatureError.textContent = data.errors.signature;
        console.log(signatureError);
      }
      if (data.scoreType) {
        location.assign('/');
      }

    } catch (err) {
      console.log(err);
    }

  });
</script>