<%- include('partials/header'); -%>

<div class="w3-panel w3-green">
  <h3>Fast geschafft</h3>
  <p>Die E-Mail Adresse muss noch verifiziert werden. Bitte schauen Sie in ihren Posteingang</p>
</div>

<%- include('partials/footer'); -%>